#top_nav {
    position: fixed;
    width: 100%;
    display: flex;
    height: 85px;
    align-items: center;
    justify-content: space-between;
    background-color: $darkest-background;

    #leftTopBar {
        display: flex;
        height: 100%;
        align-items: center;

        img {
            height: 100%;
            margin-right: 50px;
        }

        #nav_links {
            display: flex;
            gap: 30px;

            li {
                a {
                    text-decoration: none;
                    font-size: 18px;
                    color: $nav-font-links-desktop;
                    font-weight: 700;
                    font-family: $headings;
                }
            }

            .containerLigneRed {
                position: relative;

                .word_on_red_ligne {
                    z-index: 2;
                    color: $white-font;
                    font-weight: 800;
                }

                .ligne_red {
                    position: absolute;
                    opacity: 0;
                    left: 50%;
                    top: 45%;
                    transform: translate(-50%, -50%);
                    rotate: -45deg;
                    height: 3px;
                    width: 55px;
                    background-color: $red;
                    z-index: -1;
                }
            }
        }
    }

    #btn_nav {
        color: $white-background;
        margin-right: 200px;
        text-decoration: none;
        padding: 13px 34px;
        border: solid 2.5px $global-font-color;
        border-radius: 30px;
        font-weight: 900;
        font-size: 14px;
        letter-spacing: -0.5px;
        font-family: $headings;
    }

    #burger {
        width: 25px;
        height: 25px;
        z-index: 100;
        display: none;
        position: absolute;
        right: 20px;
        top: 30px;

        span {
            display: block;
            width: 100%;
            height: 3px;
            background-color: white;
            margin-bottom: 5px;
        }
    }
}

@media only screen and (max-width: 1400px) {
    #top_nav {
        #burger {
            display: block;
        }

        #burger.active span:nth-child(1) {
            transform: rotate(45deg) translate(5px, 6px);
            width: 110%;
        }

        #burger.active span:nth-child(2) {
            opacity: 0;
        }

        #burger.active span:nth-child(3) {
            transform: rotate(-45deg) translate(4px, -6px);
            width: 110%;
        }

        #nav_links {
            z-index: 99;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: -200%;
            padding-top: 30px;
            width: 60%;
            min-width: 250px;
            height: 100vh;
            align-items: start;
            justify-content: start;
            background-color: $dark-background;
            font-size: 16px;
            gap: 0;

            li {
                margin-left: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;

                a {
                    color: $white-font !important;
                }

                .plus {
                    span {
                        height: 2px;
                        width: 15px;
                        display: block;
                        background-color: $global-font-color;
                        margin-right: 50px;
                    }
                }
            }

            li span:nth-child(1) {
                rotate: (90deg);
                transform: translateX(2px);
            }

            .ligne_red {
                display: none;
            }

            .grey_ligne {
                height: 1px;
                position: relative;
                width: 100%;
                left: 0;
                right: 0;
                background-color: $global-font-color;
                opacity: 0.5;
            }
        }

        #nav_links.active {
            left: 0;
            position: fixed;
        }
    }
}

@media only screen and (max-width: 440px) {
    #btn_nav {
        display: none;
    }
}
