@import "sass/variables/variables.scss";
@import "sass/layout/contactPage.scss";
@import "sass/mixins/mixins.scss";

* {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @include headingColor;
}

@media (min-width: 1920px) {
  @include tableAndDesktop;
}

@media (max-width: 560px) {
  @include mobile;
}
