* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* h1,
* h2,
* h3 {
  color: #fefefe;
}
* h1 span,
* h2 span,
* h3 span {
  color: #f60b0e;
}
* p {
  color: #717171;
}

@media (min-width: 1920px) {
  * {
    font-size: 12px;
  }
  h1 {
    font-size: 120px;
  }
  h1 span {
    font-size: 120px;
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 32px;
  }
  p {
    font-size: 16px;
  }
}
@media (max-width: 560px) {
  * {
    font-size: 10px;
  }
  h1 {
    font-size: 32px;
  }
  h1 span {
    font-size: 32px;
  }
  h2 {
    font-size: 19px;
  }
  h3 {
    font-size: 21px;
  }
  p {
    font-size: 14px;
  }
}
.pages-header-text {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.pages-header-text span {
  color: #717171;
}
.pages-header-text p {
  color: #717171;
}
.pages-header-text p:hover {
  color: #fefefe;
  cursor: pointer;
}

header {
  background-image: url("/img/gallery/slide-1.jpg");
  height: 65vh;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #1b1b1b, rgba(0, 0, 0, 0));
}

.top_nav {
  position: absolute;
  z-index: 1;
  top: 0;
  padding-right: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.24);
}

#leftTopBar {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.hamburguerButton {
  position: absolute;
  right: 5%;
  display: none;
}

.col {
  height: 100vh;
  flex-direction: column;
}

.display {
  display: block;
}

#nav_links {
  height: 5rem;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
#nav_links li a {
  text-decoration: none;
  font-size: 18px;
  color: #717171;
  font-weight: 700;
  position: relative;
}
#nav_links li a:hover {
  color: #fefefe;
}
#nav_links li a:hover::after {
  min-width: 100%;
}
#nav_links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 40%;
  height: 0.3rem;
  width: 0;
  background-color: red;
  transform: rotate(135deg);
  z-index: -1;
}

#btn_nav {
  color: #ffffff;
  text-decoration: none;
  padding: 13px 34px;
  border: solid 2.5px #cbcbcb;
  border-radius: 30px;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: -0.5px;
  font-family: "Arial", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  background-color: #1b1b1b;
}

.rooms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  gap: 5rem;
}

.rooms-dificulty-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.rooms-dificulty-buttons button {
  border: 0.2rem solid #717171;
  color: #fefefe;
  padding: 1rem 3rem;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #1b1b1b;
  border-radius: 3rem;
}
.rooms-dificulty-buttons button:hover {
  cursor: pointer;
  background-color: rgb(187, 25, 25);
  color: #d1d0d0;
  color: #fefefe;
  background-color: #f60b0e;
  border: 0.2rem solid transparent;
}

.roomsPage-header {
  z-index: 2;
  text-align: center;
}

.display-rooms {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.room-displayer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 3rem;
  width: calc(25% - 2rem);
  aspect-ratio: 1/1.5;
  overflow: hidden;
}
.room-displayer h3 {
  z-index: 1;
}
.room-displayer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.2));
}
.room-displayer:hover {
  cursor: pointer;
}
.room-displayer:hover .one,
.room-displayer:hover .two,
.room-displayer:hover .three,
.room-displayer:hover .four,
.room-displayer:hover .five,
.room-displayer:hover .six,
.room-displayer:hover .seven,
.room-displayer:hover .eight,
.room-displayer:hover .nine,
.room-displayer:hover .ten,
.room-displayer:hover .eleven,
.room-displayer:hover .twelve {
  transform: scale(1.1);
}

.one {
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  background-image: url("/img/gallery/slide-2.jpg");
  background-position: 75% 50%;
}

.two {
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  background-image: url("/img/gallery/room-2.jpg");
}

.three {
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  background-image: url("/img/gallery/room-3.jpg");
}

.four {
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  background-image: url("/img/gallery/room-2.jpg");
}

.five {
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  background-image: url("/img/gallery/room-5.jpg");
}

.six {
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  background-image: url("/img/gallery/video-placeholder.jpg");
}

.seven {
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  background-image: url("/img/gallery/room-7.jpg");
}

.eight {
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  background-image: url("/img/gallery/room-8.jpg");
}

.nine {
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  background-image: url("/img/gallery/room-9.jpg");
}

.ten {
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  background-image: url("/img/gallery/room-3.jpg");
}

.eleven {
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  background-image: url("/img/gallery/room-9.jpg");
}

.twelve {
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  background-image: url("/img/gallery/room-2.jpg");
}

.room-displayer-footer {
  padding-left: 2rem;
  display: flex;
  z-index: 1;
  padding-bottom: 4rem;
  gap: 2rem;
}
.room-displayer-footer .number-players,
.room-displayer-footer .time-roomScape,
.room-displayer-footer .roomLocation {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.room-displayer-footer .number-players p,
.room-displayer-footer .time-roomScape p,
.room-displayer-footer .roomLocation p {
  font-size: 1.5rem;
}
.room-displayer-footer .number-players i,
.room-displayer-footer .time-roomScape i,
.room-displayer-footer .roomLocation i {
  font-size: 1.5rem;
  color: #717171;
}

.difficulty-room {
  display: flex;
  z-index: 1;
  gap: 0.5rem;
}
.difficulty-room i {
  font-size: 1.5rem;
}

.difficulty-room,
.room-displayer h3 {
  padding-left: 2rem;
}

.display-rooms-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.display-rooms-buttons span {
  color: #717171;
  font-size: 1.5rem;
}
.display-rooms-buttons button {
  font-weight: bold;
  color: #fefefe;
  display: inline-block;
  border-radius: 50%;
  padding: 1.5rem 1.9rem;
  background-color: #1b1b1b;
  border: 3px solid #717171;
}
.display-rooms-buttons button:hover {
  background-color: #f60b0e;
  border: 3px solid transparent;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .display-rooms {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .display-rooms-buttons button {
    padding: 1rem 1.3rem;
  }
  .difficulty-room {
    gap: 0.2;
  }
  .difficulty-room i {
    font-size: 0.8rem;
  }
  .room-displayer {
    gap: 0;
    justify-content: center;
    gap: 1rem;
  }
  .rooms-dificulty-buttons {
    gap: 0.5rem;
  }
  .rooms-dificulty-buttons button {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
  .display-rooms {
    gap: 1.5rem;
  }
  .room-displayer-footer {
    padding-bottom: 0;
    gap: 0.5rem;
    flex-direction: column;
  }
  .room-displayer-footer .number-players p,
  .room-displayer-footer .time-roomScape p,
  .room-displayer-footer .roomLocation p {
    font-size: 1rem;
    font-weight: bold;
  }
  .room-displayer-footer .number-players i,
  .room-displayer-footer .time-roomScape i,
  .room-displayer-footer .roomLocation i {
    font-size: 0.8rem;
  }
}
@media (max-width: 556px) {
  header {
    height: 40vh;
  }
  .rooms-container {
    width: 100%;
  }
  .rooms-dificulty-buttons {
    padding-top: 1.5rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1.1rem;
  }
  .rooms-dificulty-buttons button {
    width: 35%;
  }
  .display-rooms {
    padding: 1.5rem;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .display-rooms .room-displayer {
    max-width: 100%;
    aspect-ratio: 1/1;
    width: 100%;
    justify-content: flex-end;
    gap: 3.5rem;
  }
  .difficulty-room i {
    font-size: 1.5rem;
  }
  .room-displayer-footer {
    padding-bottom: 3rem;
    flex-direction: row;
    gap: 3rem;
  }
  .room-displayer-footer .number-players,
  .room-displayer-footer .time-roomScape,
  .room-displayer-footer .roomLocation {
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .room-displayer-footer .number-players p,
  .room-displayer-footer .time-roomScape p,
  .room-displayer-footer .roomLocation p {
    font-size: 2rem;
  }
  .room-displayer-footer .number-players i,
  .room-displayer-footer .time-roomScape i,
  .room-displayer-footer .roomLocation i {
    font-size: 1.7rem;
  }
}/*# sourceMappingURL=roomsPage.css.map */