@mixin mobile {
  * {
    font-size: 10px;
  }
  h1 {
    font-size: 32px;
    span {
      font-size: 32px;
    }
  }
  h2 {
    font-size: 19px;
  }
  h3 {
    font-size: 21px;
  }
  p {
    font-size: 14px;
  }
}

@mixin tableAndDesktop {
  * {
    font-size: 12px;
  }
  h1 {
    font-size: 120px;
    span {
      font-size: 120px;
    }
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 32px;
  }
  p {
    font-size: 16px;
  }
}

@mixin headingColor {
  h1,
  h2,
  h3 {
    color: $white-background;
    span {
      color: $red;
    }
  }
  p {
    color: $global-font-color;
  }
}

@mixin pages-header-text {
  display: flex;
  gap: 1rem;
  span {
    color: $global-font-color;
  }
  p {
    color: $global-font-color;
    &:hover {
      color: $white-background;
      cursor: pointer;
    }
  }
}
