$darkest-background: #000000;
$nav-font-links-desktop: #FFFFFF;
$headings: 'Arial', sans-serif;
$red: #FF0000;
$white-font: #FFFFFF;
$dark-background: #000000;
$global-font-color: #CBCBCB;
$white-background: #FFFFFF;