* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* h1,
* h2,
* h3 {
  color: #fefefe;
}
* h1 span,
* h2 span,
* h3 span {
  color: #f60b0e;
}
* p {
  color: #717171;
}

@media (min-width: 1920px) {
  * {
    font-size: 12px;
  }
  h1 {
    font-size: 120px;
  }
  h1 span {
    font-size: 120px;
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 32px;
  }
  p {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  header {
    height: 40vh !important;
  }
  main {
    padding: 1rem;
  }
  .contact-container-form {
    padding: 2rem 0.5rem !important;
    width: 100% !important;
  }
  #contactForm {
    row-gap: 1rem;
  }
}
@media (max-width: 730px) {
  * {
    font-size: 10px;
  }
  h1 {
    font-size: 32px;
  }
  h1 span {
    font-size: 32px;
  }
  h2 {
    font-size: 19px;
  }
  h3 {
    font-size: 21px;
  }
  p {
    font-size: 14px;
  }
}
@media (max-width: 556px) {
  .contact-container-form {
    flex-direction: column;
  }
  .contact-container-form .contact-info {
    width: 100%;
  }
  .contact-form {
    width: 100% !important;
  }
  .contact-form #contactForm {
    display: flex;
    flex-direction: column;
  }
}
.pages-header-text {
  display: flex;
  gap: 1rem;
}
.pages-header-text span {
  color: #717171;
}
.pages-header-text p {
  color: #717171;
}
.pages-header-text p:hover {
  color: #fefefe;
  cursor: pointer;
}

header {
  height: 65vh;
  background-image: url("/img/gallery/slide-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
}

.contactPage-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container-form {
  width: 60%;
  display: flex;
  padding: 10rem 0;
  gap: 3rem;
  justify-content: center;
}

.contact-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-info-heading {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.contact-info-and-logo {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}
.contact-info-and-logo .contact-info-logos {
  display: flex;
  gap: 1.2rem;
}
.contact-info-and-logo .contact-info-logos p:hover {
  cursor: pointer;
  color: #fefefe;
}

.contact-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#contactForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  column-gap: 3rem;
  row-gap: 3rem;
}
#contactForm #name {
  grid-area: 1/1/2/2;
}
#contactForm #email {
  grid-area: 1/2/2/3;
}
#contactForm #comment {
  grid-area: 2/1/3/3;
}
#contactForm #submitButton {
  color: #fefefe;
  background-color: #f60b0e;
  font-weight: bold;
  border-radius: 5rem;
  font-size: 1.3rem;
  width: 100%;
  padding: 1rem;
  grid-area: 3/1/4/3;
  border: none;
}
#contactForm #submitButton:hover {
  cursor: pointer;
  background-color: rgb(187, 25, 25);
  color: #d1d0d0;
}
#contactForm input,
#contactForm #comment {
  font-size: 1.1rem;
  color: #717171;
  background-color: #1b1b1b;
  border: none;
  border-bottom: 1px solid #717171;
}

.contact-info-logos {
  display: flex;
}

/*# sourceMappingURL=contacPage.css.map */
