@import url("https://fonts.googleapis.com/css2?family=Forum&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.BlogsPageSection1 {
  background-image: url("https://github.com/becodeorg/hamilton-8-escapium-rui-sarah-jerome/blob/main/img/gallery/slide-1.jpg?raw=true");
  background-size: cover;
  background-position: center 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.BlogsPageSection1 h2 {
  font-size: 44px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #fefefe;
  margin-bottom: 10px;
}
.BlogsPageSection1 li {
  display: inline;
  font-size: 16px;
  font-family: "Hind";
}
.BlogsPageSection1 a {
  text-decoration: none;
  color: #717171;
}
.BlogsPageSection1 a:hover {
  color: #fefefe;
}

.BlogsPageSection2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B1B1B;
}
.BlogsPageSection2 .BlogsPageSection2All {
  margin-bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
}
.BlogsPageSection2 .BlogsPageSection2Articles {
  width: 67.5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.BlogsPageSection2 .BlogsPageSection2Articles img {
  width: 100%;
  height: auto;
}
.BlogsPageSection2 .BlogsPageSection2Articles .BlogsPageSection2ArticlesCardImg {
  position: relative;
  margin-top: 10%;
  width: 85%;
  height: 500px;
  overflow: hidden;
  z-index: 1;
}
.BlogsPageSection2 .BlogsPageSection2Articles .BlogsPageSection2ArticlesCardText {
  position: relative;
  width: 85%;
  height: 500px;
  background-color: #222222;
  margin-left: 7.5%;
  margin-top: -10%;
  z-index: 2;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.BlogsPageSection2 .BlogsPageSection2Articles .BlogsPageSection2ArticlesCardText .BlogsPageSection2ArticlesCardTextContent {
  width: 85%;
  height: 80%;
}
.BlogsPageSection2 .BlogsPageSection2Articles .BlogsPageSection2ArticlesCardText h6 {
  color: #717171;
  position: relative;
  font-family: "Montserrat";
  font-size: 11px;
  margin-bottom: 10%;
  letter-spacing: 2px;
}
.BlogsPageSection2 .BlogsPageSection2Articles .BlogsPageSection2ArticlesCardText h6::after {
  content: "";
  font-size: 16px;
  font-family: "Hind";
  position: absolute;
  font-weight: 500;
  top: 275%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 3px;
  background-color: #717171;
  opacity: 0.5;
}
.BlogsPageSection2 .BlogsPageSection2Articles .BlogsPageSection2ArticlesCardText h1 {
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #fefefe;
  text-align: start;
  margin-bottom: 7.5%;
}
.BlogsPageSection2 .BlogsPageSection2Articles .BlogsPageSection2ArticlesCardText ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 7.55%;
}
.BlogsPageSection2 .BlogsPageSection2Articles .BlogsPageSection2ArticlesCardText ul i {
  margin-right: 10px;
  font-size: small;
}
.BlogsPageSection2 .BlogsPageSection2Articles .BlogsPageSection2ArticlesCardText ul .CardTextContentinfos {
  margin-right: 20px;
  color: #717171;
  font-family: "Montserrat";
  font-size: 11px;
  font-weight: 700;
}
.BlogsPageSection2 .BlogsPageSection2Articles .BlogsPageSection2ArticlesCardText p {
  margin-right: 20px;
  color: #717171;
  font-family: "Montserrat";
  font-size: 13px;
  width: 85%;
  margin-bottom: 7.5%;
}
.BlogsPageSection2 .BlogsPageSection2Articles .BlogsPageSection2ArticlesCardText Button {
  margin-right: 20px;
  margin-bottom: 0;
  margin-bottom: 10px;
  height: 40px;
  width: 125px;
  border-radius: 25px;
  background-color: #1B1B1B;
  border: 2px solid #717171;
  color: #fefefe;
  font-size: 13px;
  font-family: "Montserrat";
  font-weight: 700;
}
.BlogsPageSection2 .BlogsPageSection2Articles .BlogsPageSection2ArticlesPageNumbers {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}
.BlogsPageSection2 .BlogsPageSection2Articles .BlogsPageSection2ArticlesPageNumbers ul {
  display: flex;
  flex-direction: row;
}
.BlogsPageSection2 .BlogsPageSection2Articles .BlogsPageSection2ArticlesPageNumbers .Section2ArticlesPageNumberCircle {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #1B1B1B;
  border: 2px solid #717171;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  color: #fefefe;
  font-family: "MontSerrat";
  font-size: 11px;
  font-weight: 600;
}
.BlogsPageSection2 .BlogsPageSection2Articles .BlogsPageSection2ArticlesPageNumbers .Section2ArticlesPageNumberCircle:hover {
  background-color: #F60B0E;
  border: 2px solid #F60B0E;
}
.BlogsPageSection2 .BlogsPageSecion2Infos {
  width: 27.5%;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosCat {
  margin-top: 25%;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosCat h1 {
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: 500;
  color: #fefefe;
  text-align: start;
  margin-bottom: 15%;
  position: relative;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosCat h1::after {
  content: "";
  font-size: 16px;
  font-family: "Hind";
  position: absolute;
  font-weight: 500;
  top: 150%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 3px;
  background-color: #717171;
  opacity: 0.5;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosCat li {
  font-size: 11px;
  font-family: "Montserrat";
  font-weight: 700;
  margin-bottom: 25px;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosCat a {
  text-decoration: none;
  color: #717171;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop {
  margin-top: 15%;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop h1 {
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: 500;
  color: #fefefe;
  text-align: center;
  text-align: start;
  margin-bottom: 15%;
  position: relative;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop h1::after {
  content: "";
  font-size: 16px;
  font-family: "Hind";
  position: absolute;
  font-weight: 500;
  top: 150%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 3px;
  background-color: #717171;
  opacity: 0.5;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop .BlogsPageSecion2InfosPopContainer {
  width: 90%;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop .BlogsPageSecion2InfosPopContainer .BlogsPageSecion2InfosPopCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop .BlogsPageSecion2InfosPopContainer .BlogsPageSecion2InfosPopCards p {
  width: 30%;
  font-size: 11px;
  color: #717171;
  position: relative;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop .BlogsPageSecion2InfosPopContainer .BlogsPageSecion2InfosPopCards p::after {
  content: "";
  font-size: 16px;
  font-family: "Hind";
  position: absolute;
  font-weight: 500;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 1px;
  background-color: #717171;
  opacity: 0.5;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop .BlogsPageSecion2InfosPopContainer .BlogsPageSecion2InfosPopCards h2 {
  width: 60%;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 500;
  color: #fefefe;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosTags {
  margin-top: 15%;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosTags h1 {
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: 500;
  color: #fefefe;
  text-align: center;
  text-align: start;
  margin-bottom: 15%;
  position: relative;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosTags h1::after {
  content: "";
  font-size: 16px;
  font-family: "Hind";
  position: absolute;
  font-weight: 500;
  top: 150%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 3px;
  background-color: #717171;
  opacity: 0.5;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosTags ul {
  display: flex;
  flex-direction: row;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosTags button {
  margin-right: 20px;
  margin-bottom: 0;
  margin-bottom: 10px;
  height: 33px;
  width: 90%;
  border-radius: 25px;
  background-color: #1B1B1B;
  border: 2px solid #717171;
  color: #fefefe;
  font-size: 11px;
  font-family: "Montserrat";
  font-weight: 700;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosPhoto {
  margin-top: 15%;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosPhoto h1 {
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: 500;
  color: #fefefe;
  text-align: center;
  text-align: start;
  margin-bottom: 15%;
  position: relative;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosPhoto h1::after {
  content: "";
  font-size: 16px;
  font-family: "Hind";
  position: absolute;
  font-weight: 500;
  top: 150%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 3px;
  background-color: #717171;
  opacity: 0.5;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosPhoto .BlogsPageSecion2InfosPhotoImg {
  height: 115px;
  width: 115px;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosPhoto .BlogsPageSecion2InfosPhotoImg:nth-child(1) {
  background-image: url("https://github.com/becodeorg/hamilton-8-escapium-rui-sarah-jerome/blob/main/img/gallery/gallery-7.jpg?raw=true");
  background-size: cover;
  background-position: center;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosPhoto .BlogsPageSecion2InfosPhotoImg:nth-child(2) {
  background-image: url("https://github.com/becodeorg/hamilton-8-escapium-rui-sarah-jerome/blob/main/img/gallery/gallery-6.jpg?raw=true");
  background-size: cover;
  background-position: center;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosPhoto .BlogsPageSecion2InfosPhotoImg:nth-child(3) {
  background-image: url("https://github.com/becodeorg/hamilton-8-escapium-rui-sarah-jerome/blob/main/img/gallery/gallery-2.jpg?raw=true");
  background-size: cover;
  background-position: center;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosPhoto .BlogsPageSecion2InfosPhotoImg:nth-child(4) {
  background-image: url("https://github.com/becodeorg/hamilton-8-escapium-rui-sarah-jerome/blob/main/img/gallery/gallery-4.jpg?raw=true");
  background-size: cover;
  background-position: center;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosPhoto .BlogsPageSecion2InfosPhotoImg:nth-child(5) {
  background-image: url("https://github.com/becodeorg/hamilton-8-escapium-rui-sarah-jerome/blob/main/img/gallery/gallery-5.jpg?raw=true");
  background-size: cover;
  background-position: center;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosPhoto .BlogsPageSecion2InfosPhotoImg:nth-child(6) {
  background-image: url("https://github.com/becodeorg/hamilton-8-escapium-rui-sarah-jerome/blob/main/img/gallery/gallery-3.jpg?raw=true");
  background-size: cover;
  background-position: center;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosPhoto .BlogsPageSecion2InfosPhotoGrid {
  width: 80%;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosArchive {
  margin-top: 15%;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosArchive h1 {
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: 500;
  color: #fefefe;
  text-align: center;
  text-align: start;
  margin-bottom: 15%;
  position: relative;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosArchive h1::after {
  content: "";
  font-size: 16px;
  font-family: "Hind";
  position: absolute;
  font-weight: 500;
  top: 150%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 3px;
  background-color: #717171;
  opacity: 0.5;
}
.BlogsPageSection2 .BlogsPageSecion2Infos .BlogsPageSecion2InfosArchive li {
  font-size: 11px;
  font-family: "Montserrat";
  font-weight: 700;
  margin-bottom: 25px;
  color: #717171;
}

Footer {
  background-image: url("https://github.com/becodeorg/hamilton-8-escapium-rui-sarah-jerome/blob/main/img/gallery/Room7-Dark.png?raw=true");
  background-size: cover;
  background-position: center;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
Footer .FooterInfos {
  margin-top: 5%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
Footer .Footercolumns {
  width: 23%;
}
Footer .Footercolumns h1 {
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #fefefe;
  margin-bottom: 7.5%;
}
Footer .Footercolumns li {
  font-size: 11px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #717171;
}
Footer .Footercolumns:nth-child(1) li {
  margin-bottom: 5px;
  letter-spacing: 2px;
}
Footer .Footercolumns:nth-child(1) .Footerdash {
  font-size: x-large;
  opacity: 0.5;
  position: relative;
}
Footer .Footercolumns:nth-child(1) .Footerdash::after {
  content: "01";
  font-size: 16px;
  font-family: "Hind";
  position: absolute;
  font-weight: 500;
  top: 50%;
  left: -20px;
  transform: translate(-50%, -50%);
  width: 50%;
  color: #717171;
}
Footer .Footercolumns:nth-child(2) li {
  margin-bottom: 25px;
  letter-spacing: 2px;
}
Footer .Footercolumns:nth-child(2) .Footerdash {
  font-size: x-large;
  opacity: 0.5;
  position: relative;
}
Footer .Footercolumns:nth-child(2) .Footerdash::after {
  content: "02";
  font-size: 16px;
  font-family: "Hind";
  position: absolute;
  font-weight: 500;
  top: 50%;
  left: -20px;
  transform: translate(-50%, -50%);
  width: 50%;
  color: #717171;
}
Footer .Footercolumns:nth-child(3) li {
  margin-bottom: 25px;
  letter-spacing: 2px;
}
Footer .Footercolumns:nth-child(3) .FooterWorkingHours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
Footer .Footercolumns:nth-child(3) .FooterWorkingHours .FooterWorkingHoursDays:nth-child(1) {
  width: 45%;
}
Footer .Footercolumns:nth-child(3) .FooterWorkingHours .FooterWorkingHoursDays:nth-child(2) {
  width: 45%;
}
Footer .Footercolumns:nth-child(3) .Footerdash {
  font-size: x-large;
  opacity: 0.5;
  position: relative;
}
Footer .Footercolumns:nth-child(3) .Footerdash::after {
  content: "03";
  font-size: 16px;
  font-family: "Hind";
  position: absolute;
  font-weight: 500;
  top: 50%;
  left: -20px;
  transform: translate(-50%, -50%);
  width: 50%;
  color: #717171;
}
Footer .Footercolumns:nth-child(4) ul {
  display: flex;
  flex-direction: row;
}
Footer .Footercolumns:nth-child(4) .FooterSocialMedia {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #717171;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
Footer .Footercolumns:nth-child(4) .Footerdash {
  font-size: x-large;
  opacity: 0.5;
  position: relative;
}
Footer .Footercolumns:nth-child(4) .Footerdash::after {
  content: "04";
  font-size: 16px;
  font-family: "Hind";
  position: absolute;
  font-weight: 500;
  top: 50%;
  left: -20px;
  transform: translate(-50%, -50%);
  width: 50%;
  color: #717171;
}

.FooterCopyright {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  border-top: 2px #434343 solid;
}
.FooterCopyright img {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
.FooterCopyright p {
  font-size: 11px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #717171;
}

@media (max-width: 768px) {
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles {
    width: 70%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesDoubleCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesDoubleCards .BlogsPageSection2ArticlesCardImg {
    height: 275px;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesDoubleCards .BlogsPageSection2ArticlesCardText {
    margin-left: 0;
    margin-top: 0;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    margin-right: 0;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesDoubleCards .BlogsPageSection2ArticlesCardText .BlogsPageSection2ArticlesCardTextContent ol {
    flex-direction: column;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesFirstCommentBackground .BlogsPageSection2ArticlesFirstCommentText {
    align-items: flex-start;
    padding-left: 5%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesFirstCommentBackground .BlogsPageSection2ArticlesFirstCommentText p {
    width: 95%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesFirstCommentBackground .BlogsPageSection2ArticlesFirstCommentText .FirstCommentNameIcones {
    display: none;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesFirstCommentBackground .BlogsPageSection2ArticlesFirstCommentText .BlogsPageSection2ArticlesCommentsProfil {
    display: flex;
    width: 100%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesFirstCommentBackground .BlogsPageSection2ArticlesFirstCommentText .BlogsPageSection2ArticlesCommentsProfil img {
    margin-right: 5%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesFirstCommentBackground .BlogsPageSection2ArticlesFirstCommentText .BlogsPageSection2ArticlesCommentsProfil ul {
    width: 40%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 5%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesFirstCommentBackground .FirstCommentProfilPicture {
    display: none;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos {
    width: 30%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosCat h1 {
    font-size: 22px;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosCat li {
    font-weight: 600;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop h1 {
    font-size: 22px;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop .BlogsPageSecion2InfosPopContainer {
    width: auto;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop .BlogsPageSecion2InfosPopContainer .BlogsPageSecion2InfosPopCards p {
    width: 40%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop .BlogsPageSecion2InfosPopContainer .BlogsPageSecion2InfosPopCards p::after {
    content: "";
    left: 125%;
    width: 20%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop .BlogsPageSecion2InfosPopContainer .BlogsPageSecion2InfosPopCards h2 {
    width: 60%;
    font-size: 11px;
    margin-left: 20%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosTags h1 {
    font-size: 22px;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosTags ul {
    display: flex;
    flex-direction: column;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosTags button {
    width: 60%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosPhoto h1 {
    font-size: 22px;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosPhoto .BlogsPageSecion2InfosPhotoImg {
    height: 100px;
    width: 100px;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosPhoto .BlogsPageSecion2InfosPhotoGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosArchive h1 {
    font-size: 22px;
  }
  Footer .FooterInfos {
    width: 90%;
  }
  Footer .Footercolumns {
    width: 23%;
  }
  Footer .Footercolumns:nth-child(3) .FooterWorkingHoursDays:nth-child(1) {
    line-height: 145%;
  }
  Footer .Footercolumns:nth-child(3) .FooterWorkingHoursDays:nth-child(2) {
    width: 45%;
    margin-left: 20%;
  }
  Footer .Footercolumns:nth-child(4) .FooterSocialMedia {
    width: 25px;
    height: 25px;
    font-size: medium;
  }
}
@media (max-width: 425px) {
  .BlogsPageSection1 h2 {
    font-size: 32px;
    text-align: center;
  }
  .BlogsPageSection1 ol {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .BlogsPageSection1 li {
    display: inline-block;
    font-size: 11px;
    font-family: "Hind";
    color: #717171;
  }
  .BlogsPageSection1 li i {
    margin-right: 6px;
    font-size: medium;
  }
  .BlogsPageSection1 li .CardTextContentinfos {
    margin-right: 20px;
    color: #717171;
    font-family: "Montserrat";
    font-size: 11px;
    font-weight: 700;
  }
  .BlogsPageSection2 .BlogsPageSection2All {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles {
    width: 100%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesDoubleCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesDoubleCards .BlogsPageSection2ArticlesCardImg {
    height: 275px;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesDoubleCards .BlogsPageSection2ArticlesCardText {
    margin: 0 0 0 0;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesDoubleCards .BlogsPageSection2ArticlesCardText h6 {
    margin-top: -5%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesDoubleCards .BlogsPageSection2ArticlesCardText .BlogsPageSection2ArticlesCardTextContent ol {
    flex-direction: column;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesFirstCommentBackground .BlogsPageSection2ArticlesFirstCommentText {
    align-items: flex-start;
    padding-left: 5%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesFirstCommentBackground .BlogsPageSection2ArticlesFirstCommentText p {
    width: 95%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesFirstCommentBackground .BlogsPageSection2ArticlesFirstCommentText .FirstCommentNameIcones {
    display: none;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesFirstCommentBackground .BlogsPageSection2ArticlesFirstCommentText .BlogsPageSection2ArticlesCommentsProfil {
    display: flex;
    width: 100%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesFirstCommentBackground .BlogsPageSection2ArticlesFirstCommentText .BlogsPageSection2ArticlesCommentsProfil img {
    margin-right: 5%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesFirstCommentBackground .BlogsPageSection2ArticlesFirstCommentText .BlogsPageSection2ArticlesCommentsProfil ul {
    width: 40%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 5%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesFirstCommentBackground .FirstCommentProfilPicture {
    display: none;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSection2Articles .BlogsPageSection2ArticlesComments h1::after {
    top: 50px;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos {
    width: 80%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop {
    margin-top: 15%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop h1 {
    font-size: 32px;
    font-family: "Montserrat";
    font-weight: 500;
    color: #fefefe;
    text-align: center;
    text-align: start;
    margin-bottom: 15%;
    position: relative;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop h1::after {
    content: "";
    font-size: 16px;
    font-family: "Hind";
    position: absolute;
    font-weight: 500;
    top: 150%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 3px;
    background-color: #717171;
    opacity: 0.5;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop .BlogsPageSecion2InfosPopContainer {
    width: 90%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop .BlogsPageSecion2InfosPopContainer .BlogsPageSecion2InfosPopCards p {
    width: 30%;
    font-size: 11px;
    color: #717171;
    position: relative;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop .BlogsPageSecion2InfosPopContainer .BlogsPageSecion2InfosPopCards p::after {
    content: "";
    font-size: 16px;
    font-family: "Hind";
    position: absolute;
    font-weight: 500;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 1px;
    background-color: #717171;
    opacity: 0.5;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosPop .BlogsPageSecion2InfosPopContainer .BlogsPageSecion2InfosPopCards h2 {
    width: 60%;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 500;
    color: #fefefe;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosTags ul {
    display: flex;
    flex-direction: row;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosTags button {
    width: 90%;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosPhoto .BlogsPageSecion2InfosPhotoImg {
    height: 100px;
    width: 100px;
  }
  .BlogsPageSection2 .BlogsPageSection2All .BlogsPageSecion2Infos .BlogsPageSecion2InfosPhoto .BlogsPageSecion2InfosPhotoGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  Footer .FooterInfos {
    flex-direction: column;
  }
  Footer .FooterInfos .Footercolumns {
    width: 75%;
    margin-bottom: 10%;
    margin-top: 10%;
  }
  Footer .FooterInfos .Footercolumns .Footerdash {
    width: 100%;
    left: 20px;
    top: -10px;
  }
  Footer .FooterInfos .Footercolumns .Footerdash::after {
    left: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
